/* Importando a font do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600;700;800&display=swap');

/* Reset do css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

/* Cabecalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2rem;
}

.cabecalho__logo {
    height: 100px;
    width: 200px;
    border-radius: 20px;
}

/* Menu */

.menu__link {
    margin: 4px;
    padding: 4px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1rem;
    color: #000;    
}


.menu__link:nth-child(5)::after {
    content: '\f078';
    font-family: FontAwesome;
    font-style: normal;
    margin: 0 10px;
}

.menu__link:nth-child(6)::after {
    content: '\f078';
    font-family: FontAwesome;
    font-style: normal;
    margin: 0 10px;
}

.ativo { /* Quando um link estiver ativo */
    color: #C0C0C0;
}

/* Menu mobile */

.menu-mobile {
    display: none;
}


/* Conteudo principal */

.destaques__categorias {
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25%;
    grid-template-rows: 250px 250px;
    padding: 2rem;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

.destaques__categorias > div {
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
}

.destaques__categorias > div > h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
}

.destaques__categorias > div > h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.destaques__categorias > div > h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 20px;
}

.destaques__categorias > div > p {
    font-style: italic;
    text-align: center;
    font-size: 1rem;
}

.destaques__categorias > div > button {
    width: 30%;
    border: 1px solid #FFF;
    color: #FFF;
    background: none;
    outline: none;
    padding: 8px;
    cursor: pointer;
    transition: .3s;
    margin-top: 30px;
    font-weight: 600;
}

.destaques__categorias > div > button:hover {
    background: #FFF;
    color: #000;
}

/* Imagens de destaque */

.destaques__categorias > div:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .5) 50%), url(../images/shop-for-clothing-clothes-shop-on-hanger-at-the-modern-shop-boutique.png) center center / cover;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.destaques__categorias > div:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .5) 50%), url(../images/mulher-jovem-e-elegante-magnifica-com-grandes-olhos-castanhos-e-um-sorriso-incrivel_291049-2572\ 1.png) center center / cover;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.destaques__categorias > div:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .5) 50%), url(../images/conceito-de-beleza-masculina-retrato-de-um-jovem-elegante-com-corte-de-cabelo-elegante-vestindo-terno-da-moda-posando-sobre-fundo-preto_155003-21655\ 1.png) center center / cover;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.destaques__categorias > div:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .5) 50%), url(../images/conceito-de-moda-infantil-grupo-de-meninos-e-meninas-adolescentes-posando-no-parque_155003-24583\ 1.png) center center / cover;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.destaques__categorias > div:nth-child(5) {
    background: linear-gradient(rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .5) 50%), url(../images/conjunto-de-moda_1203-7559\ 1.png) center center / cover;
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

.container { /* Formatação do container */
    padding: 3rem 1rem;
    margin: 10px;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

.container__titulo { /* Formatação do titulo */
    font-size: 1.8rem;
    padding-left: 5rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    width: 70%;
}

.container__subtitulo { /* Formatação do titulo */
    font-weight: 400;
    font-size: 1.2rem;
    font-style: italic;
    color: #C0C0C0;
    padding-left: 5rem;
    margin-bottom: 4rem;
}

/* Produtos */

.container__produtos {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__card {
    width: 350px;
    height: 480px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__card__image {
    width: 100%;
    height: 414px;
}

.card__informacao {
    display: flex;
    justify-content: space-between;
}

.card__informacao__titulo {
    font-size: 1.2rem;
}

.card__informacao__preco {
    font-size: 1.1rem;
    color: #C0C0C0;
}

.card__informacao__tamanho {
    display: flex;
}

/* Tamanhos disponiveis */

.tamanho {
    margin: 4px;
    padding: 4px;
    text-align: center;
    border: 1px solid #C0C0C0;
    cursor: pointer;
}

/* Setas do carrousel */

.arrows {
    height: 40px;
    width: 40px;
    background: none; 
    cursor: pointer;
    border: 1px solid #C0C0C0;  
}

/* Explore */

.explore {
    display: flex;
    padding: 0 5rem;
    border: 1px solid red;
}

.explore__text {
    display: flex;
    max-width: 600px;
}

.explore__text_paragrafo {
    text-align: justify;
    width: 50%;
    margin: 30px 0;
    color: #ADADAD;
}

.explore__imagens {
    display: flex;
}

/* Social midia */

.social {
    display: flex;
    justify-content: center;
}

.social__image {
    width: 182px;
    height: 200px;
    color: transparent;
    cursor: pointer;
}

.icone {
    background: rgba(0, 0, 0, .3);
    color: #FFF;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}


.social > div:nth-child(1) {
    background: url(../images/social-midia-1.jpg) center center / cover;
}

.social > div:nth-child(2) {
    background: url(../images/social-midia-2.jpg) center center / cover;
}


.social > div:nth-child(3) {
    background: url(../images/social-midia-3.jpg) center center / cover;
}

.social > div:nth-child(4) {
    background: url(../images/social-midia-4.jpg) center center / cover;
}

.social > div:nth-child(5) {
    background: url(../images/social-midia-5.jpg) center center / cover;
}

.social > div:nth-child(6) {
    background: url(../images/social-midia-6.jpg) center center / cover;
}

/* Formulario */

.promocoes {
    display: flex;
    justify-content: space-around;
}

.promocoes__formulario {
    display: flex;
    margin-left: 3rem;
}

.form__input {
    height: 1.2rem;
    padding: 10px;
    margin-left: 2rem;
    width: 35%;
}

.form__button {
    margin-left: 2rem;
    background: #000;
    color: #FFF;
    font-size: 15px;
    padding: 10px;
    height: 100%;
    cursor: pointer;
}

/* Contatos */

.contatos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 420px;
}

.contatos > div {
    width: 200px;
    margin-bottom: 10px;
}

.contatos > div > p {
    color: #C0C0C0;
}

/* Rodape */

.rodape {
    background: #2A2A2A;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Informações gerais */

.rodape__site {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rodape__site > div {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.rodape__site > div > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.rodape__site > div > ul > h4 {
    font-family: 'Noto Sans';
    font-weight: 800;
    color: #FFF;
    font-size: 1.2rem;
    margin: 10px 0;
}

.rodape__site > div > ul > li {
    color: #FFF;
    font-weight: 500;
    margin: 10px 0;
}

.rodape__site > div > ul > li > img {
    height: 140px;
    width: 100%;
    border-radius: 20px;
}

/* Copyright */

.rodape__copyright {
    padding: 2rem;
    border-top: 1px solid #FFF;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.copyright__social {
    display: flex;
}

.copyright__social i {
    margin: 10px;
}
